#rodape{
    background-color: rgb(151, 155, 155);
    padding: 20px;
    font-size: 20;
}
body{
    background-color: rgba(205, 191, 191, 0.434);
    margin: 0;
    padding: 0;
}

.imagem_1{
    height: 20px;
    width: 1890px;
}
.imagem_2{
    padding: 10px;
    height: 30px;
    width: 30px;
}
.imagem_3{
    padding: 10px;
    height: 30px;
    width: 30px;
}
.imagem_4{
    padding: 10px;
    height: 30px;
    width: 30px;
}
.imagem_5{
    padding: 10px;
    height: 30px;
    width: 30px;
}
.imagem_6{
    padding: 10px;
    height: 30px;
    width: 30px;
}
.imagem_7{
    padding: 10px;
    height: 30px;
    width: 30px;
}
.imagem_8{
    padding: 10px;
    height: 30px;
    width: 30px;
}
.imagem_9{
    padding: 10px;
    height: 30px;
    width: 30px;
}
.imagem_10{
    padding: 10px;
    height: 30px;
    width: 30px;
}
.imagem_11{
    padding: 10px;
    height: 30px;
    width: 30px;
}
.imagem_12{
    padding: 10px;
    height: 30px;
    width: 30px;
}
.imagem_13{
    padding: 10px;
    height: 30px;
    width: 30px;
}
.imagem_14{
    padding: 10px;
    height: 30px;
    width: 200px;
}
.foto_1{
    padding: 10px;
    height: 30px;
    width: 30px;  
}
.foto_2{
    padding: 10px;
    height: 30px;
    width: 30px;  
}
.foto_3{
    padding: 10px;
    height: 30px;
    width: 30px;  
}
.foto_4{
    padding: 10px;
    height: 30px;
    width: 30px;  
}
.foto_5{
    padding: 10px;
    height: 30px;
    width: 30px;  
}
.foto_6{
    padding: 10px;
    height: 30px;
    width: 30px;  
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px;
  }
  
  td, th {
    border: 1px solid #1d0b0b;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }



#save{
    margin-bottom: 5px;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
